.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

.font-sacramento {
  font-family: 'Sacramento', cursive;
}

.font-yellowtail {
  font-family: 'Yellowtail', cursive;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}