---
export interface Props {
  headline: string;
  name: string;
  email: string;
}

const { headline, name, email } = Astro.props;
---

<div class="relative px-4 py-10 text-center">
  <div class="relative z-10 block content">
    <h4 class="mb-4 text-2xl font-bold text-green-400 sm:text-3xl">{headline}</h4>
    <p class="text-lg text-green-300 mb-2">{name}</p>
    <a class="text-green-400 hover:text-green-300 transition-colors underline" href={`mailto:${email}`}>{email}</a>
  </div>
</div>