---
export interface Props {
  headline: string;
  name: string;
  email: string;
}

const { headline, name, email } = Astro.props;
---

<div
  class="relative px-4 py-10 overflow-hidden border-0 rounded-2xl border-opacity-10 border-success lg:px-8 lg:py-20"
>
  <div class="relative z-10 block content">
    <h4
      class="mb-4 text-xl font-bold sm:text-3xl md:text-3xl lg:text-4xl lg:mb-6"
    >
      {headline}
    </h4>
    <p class="mb-3 text-sm lg:text-lg">{name}</p>
    <a
      class="underline transition-colors hover:text-green-300"
      href={`mailto:${email}`}>{email}</a
    >
  </div>
  <div
    class="absolute inset-0 z-0 bg-linear-to-br from-purple-950 via-teal-800 to-black opacity-10"
  >
  </div>
</div>
