---
import Link from "./Link.astro";
import { Image } from "astro:assets";
import imgHero from "../assets/images/hero1.png";
---

<section
  class="relative flex items-center justify-center hero snap-start"
>
  <div
    class="relative z-20 block py-12 text-center hero-content text-neutral-content md:py-20"
  >
    <div class="flex flex-col items-center mx-auto hero-content__inner">
      <div class="mb-8 logo">
        <h1 class="sr-only">Davant Systems</h1>
      </div>
      <div class="max-w-4xl mx-2 hero-content__content">
        <div
          class="flex flex-col items-center justify-center gap-4 sm:flex-row sm:gap-4 md:gap-10"
        >
          <!-- Davant Studio Card -->
          <div class="px-8 py-8 shadow-md card bg-base-300 bg-opacity-80">
            <p
              class="block w-auto max-w-sm mx-auto mb-2 overflow-visible text-lg text-left text-transparent md:max-w-md lg:max-w-xl text-cyan-200 md:mb-8 sm:text-2g md:text-xl lg:text-2xl bg-gradient-to-br from-cyan-500 via-secondary to-purple-500 bg-clip-text position"
            >
              <span
                class="block pt-2 text-3xl font-bold md:leading-10 md:text-4xl lg:mb-1"
                >Davant Studio
              </span>
              <span
                class="block font-light leading-tight md:leading-10 pl-0.5 mb-4"
                >AI image suite for creatives</span
              >
            </p>

            <div
              class="z-10 w-full px-8 pb-4 mx-auto mb-auto sm:block join join-vertical md:mt-auto"
            >
              <Link href="/davant-studio/">
                <button
                  class="mb-2 text-lg border-opacity-50 rounded-sm shadow-sm btn btn-primary indicator bg-gradient-to-br from-pink-400 via-fuchsia-500 to-purple-500 hover:from-pink-500 hover:to-purple-400 hover:scale-105 text-neutral border-1 border-cyan-500 shadow-pink-500 "
                >
                  Explore Davant Studio
                </button>
              </Link>
            </div>
          </div>

          <!-- Magic Mirror Card -->
          <div class="px-8 py-8 shadow-md card bg-base-300 bg-opacity-80">
            <p
              class="block w-auto max-w-sm mx-auto mb-2 overflow-visible text-lg text-left text-transparent md:max-w-md lg:max-w-xl text-cyan-200 md:mb-8 sm:text-2g md:text-xl lg:text-2xl bg-gradient-to-br from-cyan-500 via-secondary to-purple-500 bg-clip-text position"
            >
              <span
                class="block pt-2 text-3xl font-bold md:leading-10 md:text-4xl lg:mb-1"
                >Magic Mirror</span
              >
              <span
                class="block font-light leading-tight md:leading-10 pl-0.5 mb-4"
                >Interactive AI Experience</span
              >
            </p>

            <div
              class="z-10 px-8 pb-4 mx-auto mb-auto sm:block join join-vertical md:mt-auto"
            >
              <Link href="/photobooth/">
                <button
                  class="mb-2 text-lg border-opacity-50 rounded-sm shadow-sm btn btn-primary indicator bg-gradient-to-br from-pink-400 via-fuchsia-500 to-purple-500 hover:from-pink-500 hover:to-purple-400 hover:scale-105 text-neutral border-1 border-cyan-500 shadow-pink-500 "
                >
                  Explore Magic Mirror
                </button>
              </Link>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Dark gradient overlay -->
  <div
    class="absolute bottom-0 left-0 w-full mb-0 opacity-100 z-1 pb-28 bg-gradient-to-b from-transparent to-base-300"
  >
  </div>

  <!-- Background image -->
  <div class="absolute inset-0 z-0">
    <Image
      class="absolute inset-0 object-cover object-center w-full h-full"
      src={imgHero}
      alt="Background"
      width="2400"
      height="1550"
    />
  </div>
</section>
