---
import Link from './Link.astro';
import NavbarLogo from './NavbarLogo.astro';

const davantStudioStripePortal = "https://billing.stripe.com/p/login/6oEg26f8K3697yE144";
---

<div class="fixed top-0 z-50 navbar bg-gradient-to-b from-black to-transparent bg-opacity-0">
  <div class="navbar-start">
    <Link class="btn btn-ghost p-2" to="/">
      <NavbarLogo />
    </Link>
  </div>
  <div class="hidden navbar-center md:flex">
    <ul class="px-1 tracking-tight menu menu-horizontal text-cyan-100 drop-shadow-sm">
      <li>
        <Link to="/davant-studio/" class="hover:bg-base-100 hover:bg-opacity-70 transition-all">Davant Studio</Link>
      </li>
      <li class="dropdown dropdown-hover">
        <div tabindex="0" role="button" class="hover:bg-base-100 hover:bg-opacity-70 transition-all">Magic Mirror</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 bg-opacity-95 backdrop-blur-sm rounded-box w-52 mt-1">
          <li><Link to="/photobooth/" class="hover:bg-primary hover:bg-opacity-20 text-cyan-100 transition-all">AI Photo Booth</Link></li>
        </ul>
      </li>
      <li class="dropdown dropdown-hover">
        <div tabindex="0" role="button" class="hover:bg-base-100 hover:bg-opacity-70 transition-all">Learn & Create</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 bg-opacity-95 backdrop-blur-sm rounded-box w-52 mt-1">
          <li><Link to="/training/" class="hover:bg-primary hover:bg-opacity-20 text-cyan-100 transition-all">Training & Workshops</Link></li>
          <li><Link to="/articles/" class="hover:bg-primary hover:bg-opacity-20 text-cyan-100 transition-all">Articles</Link></li>
          <li><Link to="/ambassadors/" class="hover:bg-primary hover:bg-opacity-20 text-cyan-100 transition-all">Creative Ambassadors Program</Link></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-outline btn-secondary btn-xs" href={davantStudioStripePortal} target="_blank">Manage Subscription</a>
  </div>
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
    </div>
    <ul tabindex="0" class="menu menu-sm dropdown-content text-cyan-100 mt-3 z-[1] p-2 shadow bg-base-100 bg-opacity-95 backdrop-blur-sm rounded-box w-52">
      <li><Link to="/davant-studio/" class="hover:bg-primary hover:bg-opacity-20 transition-all">Davant Studio</Link></li>
      <li>
        <details>
          <summary>Magic Mirror</summary>
          <ul>
            <li><Link to="/photobooth/" class="hover:bg-primary hover:bg-opacity-20 transition-all">AI Photo Booth</Link></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Learn & Create</summary>
          <ul>
            <li><Link to="/training/" class="hover:bg-primary hover:bg-opacity-20 transition-all">Training & Workshops</Link></li>
            <li><Link to="/articles/" class="hover:bg-primary hover:bg-opacity-20 transition-all">Articles</Link></li>
            <li><Link to="/ambassadors/" class="hover:bg-primary hover:bg-opacity-20 transition-all">Creative Ambassadors Program</Link></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <span class="absolute top-0 left-0 w-full h-full scale-y-150 pointer-events-none select-none opacity-40 -z-10 bg-gradient-to-b from-base-100 via-base-100 to-transparent"></span>
</div>