---
import Layout from '../layouts/Layout.astro';
import MainNav from '../components/MainNav.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="About Davant Systems | AI for creative professionals">
	<MainNav />
	<main class="container pt-32 pb-24">
		<div class="relative max-w-lg px-4 pt-16 mx-auto mb-12">
			<h1 class="mb-8 text-3xl font-bold">About Davant Systems</h1>
			<p>Davant Systems is a software company that specializes in AI-powered creative software for professionals in visual art & design.</p>
		</div>

		<div class="max-w-lg px-4 py-8 mx-auto">
			<h2 class="mb-2 text-2xl font-bold">Team</h2>
			<p class="mb-2 font-bold">Grant Keller</p>
			<p class="mb-2 font-bold">David Shorey</p>
			<p class="mb-2 font-bold">Matt Whitesell</p>
			<p class="mb-2 font-bold">MC de Martino</p>
			<p class="mb-2 font-bold">Isaac Laster</p>
			<p class="mb-2 font-bold">Kevin Aguirre</p>
			<p class="mb-2 font-bold">Laura Pursley</p>
			<p class="mb-2 font-bold">Tone Burnette</p>
		</div>
	</main>
	<Footer />
</Layout>