---
import Layout from "../layouts/Layout.astro";
import MainNavWithDropdowns from "../components/MainNavWithDropdowns.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Davant Systems | Creative Ambassadors Program";
---

<Layout title={pageTitle}>
  <MainNavWithDropdowns />
  <main class="relative pt-24 pb-32">
    <section class="container px-8">
      <h1 class="mb-8 text-4xl text-transparent bg-gradient-to-tr from-pink-400 via-fuchsia-500 to-purple-800 bg-clip-text">Creative Ambassadors Program</h1>
      <p class="text-xl text-cyan-300">Coming soon...</p>
    </section>
  </main>
  <Footer />
</Layout>