---
import Layout from "../layouts/Layout.astro";
import MainNavWithDropdowns from "../components/MainNavWithDropdowns.astro";
import Footer from "../components/Footer.astro";
import LogoGrid from "../components/LogoGrid.astro";

const pageTitle = "Davant Systems | Magic Mirror AI Photobooth";
---

<Layout title={pageTitle}>
  <MainNavWithDropdowns />
  <main class="relative z-10 text-base font-open-sans">
    <div class="relative mega-hero-wrapper">
      <section class="relative z-10 hero__wrapper">
        <div class="relative z-40 flex items-end justify-center hero__supertitle">
          <div class="relative mb-4 text-wrapper">
            <p class="relative text-6xl font-black tracking-tighter text-center text-transparent bg-clip-text bg-gradient-to-tr from-pink-400 via-fuchsia-500 to-purple-800 bg-primary sm:text-8xl md:text-9xl">One of a kind</p>
            <p class="absolute w-full text-6xl font-black tracking-tighter text-center -translate-x-1/2 -translate-y-1/2 -z-10 top-1/2 left-1/2 sm:text-8xl shadow-only bg-clip-text bg-gradient-to-tr from-pink-400 via-fuchsia-500 to-purple-800 bg-primary md:text-9xl">One of a kind</p>
          </div>
        </div>
        <div class="relative z-50 hero sm:flex-row">
          <div class="container relative z-50 flex flex-col justify-center px-4 pb-20 sm:pl-0 md:w-full sm:flex-row-reverse">
            <div class="relative inline-block mx-auto mt-0 mb-8 hero__text sm:w-1/2 sm:pt-2 md:pt-8 sm:pl-8 sm:ml-0 sm:pl-0 xl:pl-14 2xl:pl-24">
              <span class="absolute top-0 left-0 w-full h-full scale-95 rounded-lg opacity-40 -z-10 blur-xl bg-base-300 max-w-96"></span>
              <h1 class="mb-4 whitespace-pre sm:mb-4 drop-shadow-md">
                <span class="block text-4xl font-extrabold text-primary pl-2.5 text-transparent bg-gradient-to-tr from-pink-400 via-fuchsia-500 to-purple-800 bg-clip-text sm:text-2xl md:text-3xl">Magic Mirror</span>
                <span class="-mb-4 text-6xl font-black text-transparent bg-gradient-to-tr from-pink-400 via-fuchsia-500 to-purple-800 bg-clip-text sm:text-5xl md:text-6xl">AI </span>
                <span class="-mr-4 text-6xl font-thin skew-x-12 glow__neon--secondary text-secondary font-sacramento sm:text-5xl md:text-6xl lg:text-6xl"><span class="neon-first">P</span>hoto <span class="neon-second">B</span>ooth</span>
              </h1>
              <p class="max-w-sm mb-12 text-lg text-left sm:text-sm md:text-md lg:text-xl">Make your next event unforgettable with the next generation of interactive experiences.</p>
              <div class="flex justify-center sm:block">
                <button 
                  data-tf-popup="KJvQaJXG" 
                  data-tf-opacity="100" 
                  data-tf-size="100" 
                  data-tf-iframe-props="title=Book Davant Systems AI Photobooth" 
                  data-tf-transitive-search-params 
                  data-tf-medium="snippet" 
                  class="text-sm rounded-sm shadow-sm btn bg-gradient-to-br from-pink-400 via-fuchsia-500 to-purple-500 hover:from-pink-500 hover:to-purple-400 hover:scale-105 text-neutral border-1 border-cyan-500 shadow-pink-500"
                >
                  Book Now
                </button>
              </div>
            </div>

            <div class="relative inline-block w-full rounded-lg sm:w-1/2 bg-base-300">
              <span class="absolute top-0 left-0 w-full h-full scale-95 rounded-lg opacity-30 blur-xl bg-gradient-to-bl from-primary via-secondary to-purple-950"></span>
              <img
                class="relative block rounded-lg shadow-lg max-h-96 hero__image shadow-base-300"
                src="/src/assets/images/launch-party-hero.jpg"
                loading="eager"
                alt="Photobooth"
              />
            </div>
          </div>
        </div>
        <div class="absolute top-0 left-0 z-10 w-full h-full">
          <span class="absolute bottom-0 left-0 z-10 w-full h-full opacity-100 bg-gradient-to-t from-base-300 to-transparent"></span>
          <span class="absolute bottom-0 left-0 z-20 w-full opacity-100 h-1/2 bg-gradient-to-t from-base-300 to-transparent"></span>
          <video class="fixed top-0 left-0 z-0 object-cover w-full h-full opacity-100" autoplay loop muted playsinline>
            <source src="/video/NinjaPenguin-02_timelapse-afters.mp4" type="video/mp4" />
          </video>
          <span class="absolute top-0 left-0 z-50 block w-screen h-full opacity-50 mix-blend-color hero-gradient-1"></span>
        </div>
      </section>

      <section class="relative z-20 bg-base-300">
        <div class="container flex flex-col px-4 py-20 mx-auto md:flex-row md:items-center">
          <div class="block mb-8 md:w-1/2 md:pr-12 md:mb-unset">
            <div class="max-w-lg ml-auto mr-auto md:mr-0">
              <h2 class="mb-8 text-2xl text-transparent bg-gradient-to-bl from-violet-400 via-cyan-400 to-blue-500 bg-clip-text sm:text-4xl md:text-3xl lg:text-4xl">Magically transformed <span class="sm:block">by AI in real-time</span></h2>
              <p class="mb-4">Our cutting-edge system snaps a photo every 3 seconds, and uses generative AI to transform people in amazing ways.</p>
              <p>See youself as paper origami, a puppet made of felt, or a comic book hero.</p>
            </div>
          </div>
          <div class="block md:w-1/2">
            <div class="relative block mb-2 bg-purple-900 border-2 rounded-lg shadow-lg embed-video-container faux-border-wrapper bg-opacity-5 border-secondary border-opacity-5 shadow-slate-950">
              <iframe
                class="w-full h-full embed-video"
                src="https://www.youtube.com/embed/vuYqdw3HwDc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <p class="z-10 mb-4 text-sm italic text-center text-transparent bg-gradient-to-bl from-violet-400 via-cyan-400 to-blue-500 bg-clip-text sm:text-sm md:text-md">Watch video to see the experience in action</p>
          </div>
        </div>
      </section>
    </div>

    <section class="relative z-20 py-32 bg-base-300">
      <div class="container relative z-10 max-w-2xl px-4">
        <h2 class="max-w-lg mx-auto mb-16 text-2xl text-center text-transparent sm:text-3xl md:text-4xl bg-gradient-to-bl from-violet-400 via-cyan-400 to-blue-500 bg-clip-text">A unique interactive experience people can't stop talking about</h2>
        <div class="flex flex-col justify-start sm:flex-row">
          <div class="block w-full mb-2 mr-0 chat chat-start">
            <div class="relative block w-full py-4 chat-bubble">
              <h2 class="block w-full text-lg text-center filter drop-shadow-[0.1em_0.2em_0.4em_rgba(0,0,0,1.0)] md:text-xl">"So addicting!"</h2>
            </div>
          </div>
          <div class="block w-full mb-2 ml-0 mr-auto chat chat-end">
            <div class="relative block w-full py-4 chat-bubble">
              <h2 class="w-full text-lg text-center md:text-xl font-open-sans filter drop-shadow-[0.1em_0.2em_0.4em_rgba(0,0,0,1.0)]">"This is the future"</h2>
            </div>
          </div>
        </div>
        <div class="mb-2 chat chat-start">
          <div class="w-full py-4 sm:mx-auto sm:w-auto sm:px-8 chat-bubble">
            <h2 class="text-lg text-center md:text-xl font-open-sans filter drop-shadow-[0.1em_0.2em_0.4em_rgba(0,0,0,1.0)]">"Hands-down my favorite part of the event"</h2>
          </div>
        </div>
      </div>
      <div class="relative z-20 px-2 pt-48 sm:px-4 md:px-8">
        <p class="mb-4 text-lg font-black text-center md:text-3xl">More than a filter. A truly imaginative transformation.</p>
        <div class="diff aspect-[16/9] container max-w-3xl rounded-md shadow-black shadow-lg">
          <div class="diff-item-1">
            <img alt="After transformation" src="/image/holiday-Shot_0003_00807-2After.jpg" />
          </div>
          <div class="diff-item-2">
            <img alt="Before transformation" src="/image/holiday-Shot_0003_00807-1Before.jpg" />
          </div>
          <div class="diff-resizer"></div>
        </div>
      </div>
      <div class="absolute bottom-0 z-0 block h-full min-w-full -translate-x-1/2 opacity-100 pointer-events-none select-none background-image left-1/2 z-1">
        <img
          class="relative block h-full opacity-50 hero__background-image object-cover w-full"
          src="/src/assets/images/hero2.png"
          loading="eager"
          alt="Abstract color gradient from pink to dark purple"
        />
        <div class="absolute bottom-0 left-0 z-10 w-full opacity-100 gradient-fade pb-28 bg-gradient-to-b from-transparent to-base-300"></div>
      </div>
    </section>

    <section class="relative z-20 flex justify-center py-24 overflow-hidden border-t-2 border-b-2 border-opacity-100 md:py-32 lg:py-48 border-purple-950">
      <div class="relative z-10 mx-auto shadow-lg bg-opacity-95 stats shadow-black stats-vertical sm:stats-horizontal">
        <div class="stat">
          <div class="stat-value">175k+</div>
          <div class="text-xl stat-title">Images generated</div>
        </div>
        <div class="stat">
          <div class="stat-value">2.5k+</div>
          <div class="text-xl stat-title">Photos printed</div>
        </div>
        <div class="stat">
          <div class="stat-value">100%</div>
          <div class="text-xl stat-title">Good times</div>
        </div>
      </div>
      <div class="absolute object-cover w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 -z-10">
        <img
          class="object-cover w-full h-full"
          src="/src/assets/images/prints-mosaic_corrected.jpg"
          loading="lazy"
          alt="Photo prints"
        />
      </div>
      <div class="absolute top-0 left-0 z-0 w-full h-full bg-gradient-to-br mix-blend-color from-cyan-950 to-fuchsia-950 opacity-70"></div>
    </section>

    <section class="relative z-20 bg-base-300">
      <div class="container flex flex-col px-4 py-20 mx-auto lg:max-w-7xl">
        <div class="w-full mb-6 sm:mb-4 divider lg:mb-12">
          <h2 class="text-transparent text-md bg-gradient-to-bl from-violet-400 via-cyan-400 to-blue-500 bg-clip-text sm:text-2xl md:text-xl lg:text-2xl">Trusted by</h2>
        </div>
        <LogoGrid />
      </div>
    </section>

    <section class="relative z-20 flex flex-row justify-center w-full py-20 bg-base-300">
      <div class="relative z-30 flex flex-col items-center px-8 py-16 bg-black bg-opacity-50 border-opacity-0 rounded-md shadow-lg border-purple-950">
        <p class="max-w-2xl mb-8 text-lg text-center text-transparent bg-gradient-to-bl from-violet-400 via-cyan-400 to-blue-500 bg-clip-text sm:text-4xl md:text-3xl lg:text-4xl">Bring the future of interactive entertainment to your next event.</p>
        <button 
          data-tf-popup="KJvQaJXG" 
          data-tf-opacity="100" 
          data-tf-size="100" 
          data-tf-iframe-props="title=Book Davant Systems AI Photobooth" 
          data-tf-transitive-search-params 
          data-tf-medium="snippet" 
          class="text-sm rounded-sm shadow-sm btn bg-gradient-to-br from-pink-400 via-fuchsia-500 to-purple-500 hover:from-pink-500 hover:to-purple-400 hover:scale-105 text-neutral border-1 border-cyan-500 shadow-pink-500"
        >
          Fill out interest form
        </button>
        <span class="mt-12 divider">or</span>
        <p class="mt-8 mb-8 text-2xl font-bold text-center">Contact us directly</p>
        <div class="block text-left">
          <p class="mb-4 text-xl">Email: <a href="mailto:tone@davantsystems.com" class="link link-secondary">tone@davantsystems.com</a></p>
          <p class="text-xl">Phone: <a href="tel:+1-702-561-5682" class="link link-secondary">(702)561-5682</a></p>
        </div>
      </div>
      <span class="absolute top-0 left-0 z-10 block w-full h-full opacity-80 glass py-18 bg-gradient-to-br from-fuchsia-600 via-secondary to-purple-950 mix-blend-color"></span>

      <video class="absolute top-0 left-0 z-0 object-cover w-full h-full opacity-20" autoplay loop muted playsinline>
        <source src="/video/banneranimation-01_5.mp4" type="video/mp4" />
      </video>
      <video class="absolute top-0 left-0 z-20 object-cover w-full h-full opacity-100 blur-md mix-blend-overlay" autoplay loop muted playsinline>
        <source src="/video/banneranimation-01_5.mp4" type="video/mp4" />
      </video>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  .hero__supertitle {
    height: 90vh;
  }

  .hero__supertitle p.shadow-only {
    text-shadow:
      0 0 0.2em rgba(140, 0, 140, 1),
      0 0 0.05em rgba(0, 0, 0, 1),
      0 0 0.1em rgba(0, 0, 0, 1),
      0 0 0.2em rgba(0, 0, 0, 1),
      0 0 0.1em rgba(0, 0, 0, 1),
      0 0 0.1em rgba(0, 0, 0, 1),
      0 0 0.3em rgba(0, 0, 0, 1);
  }

  .hero-gradient-1 {
    background-color: rgb(0, 0, 0);
    background-image: radial-gradient(
        at 54% 100%,
        rgb(19, 78, 74) 0,
        transparent 53%
      ),
      radial-gradient(at 48% 98%, rgb(6, 95, 70) 0, transparent 30%),
      radial-gradient(at 29% 31%, rgb(88, 28, 135) 0, transparent 44%),
      radial-gradient(at 86% 21%, rgb(49, 46, 129) 0, transparent 77%),
      radial-gradient(at 53% 40%, rgb(136, 19, 55) 0, transparent 28%),
      radial-gradient(at 29% 82%, rgb(88, 28, 135) 0, transparent 43%);
    pointer-events: none;
  }

  .hero-gradient-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(19, 136, 124) 0%, transparent 80%);
  }

  .glow__neon--secondary {
    color: rgb(18, 170, 223);
    text-shadow:
      0em -0.02em 0.02em rgba(0, 110, 140, 1),
      0 0 0.04em rgba(105, 200, 225, 0.8),
      0 0 0.3em rgba(0, 100, 145, 0.6),
      0 0 0.5em rgba(0, 160, 200, 0.6),
      0em 0 0.05em rgba(10, 130, 180, 1),
      0.025em 0.04em 0.01em rgba(1, 25, 40, 1);
  }

  .font-sacramento {
    font-family: "Sacramento", cursive;
  }

  .neon-first {
    display: inline-block;
    margin-right: -0.05em;
  }

  .neon-second {
    display: inline-block;
    margin-left: -0.225em;
    margin-right: -0.075em;
  }

  .embed-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }

  .embed-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script src="https://embed.typeform.com/next/embed.js"></script>